<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Конфиденциальность</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>blur_preference</string>
			<key>Title</key>
			<string>Замыливать экран</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Спрашивать пароль через</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>timeout_preference</string>
			<key>MaximumValue</key>
			<integer>5</integer>
			<key>MaximumValueImage</key>
			<string>SettingsMaxTimeoutForPassword.png</string>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>SettingsMinTimeoutForPassword.png</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Дополнительно</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Использовать звуки</string>
			<key>Key</key>
			<string>sound_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
