<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Welcome</key>
	<dict>
		<key>Any</key>
		<array>
			<string>welcome1</string>
			<string>welcome2</string>
			<string>welcome3</string>
			<string>welcome4</string>
			<string>welcome5</string>
			<string>welcome6</string>
			<string>welcome7</string>
			<string>welcome8</string>
			<string>welcome9</string>
			<string>welcome10</string>
			<string>welcome11</string>
			<string>welcome12</string>
			<string>welcome13</string>
			<string>welcome14</string>
			<string>welcome15</string>
			<string>welcome16</string>
			<string>welcome17</string>
			<string>welcome18</string>
			<string>welcome19</string>
			<string>welcome20</string>
			<string>welcome21</string>
			<string>welcome22</string>
			<string>welcome23</string>
			<string>welcome24</string>
			<string>welcome25</string>
			<string>welcome26</string>
			<string>welcome27</string>
			<string>welcome28</string>
			<string>welcome29</string>
			<string>welcome30</string>
			<string>welcome31</string>
			<string>welcome32</string>
			<string>welcome33</string>
			<string>welcome34</string>
			<string>welcome35</string>
			<string>welcome36</string>
			<string>welcome37</string>
			<string>welcome38</string>
			<string>welcome39</string>
			<string>welcome40</string>
			<string>welcome41</string>
			<string>welcome42</string>
			<string>welcome43</string>
			<string>welcome44</string>
			<string>welcome45</string>
			<string>welcome46</string>
			<string>welcome47</string>
			<string>welcome48</string>
			<string>welcome49</string>
			<string>welcome50</string>
			<string>welcome51</string>
			<string>welcome52</string>
			<string>welcome53</string>
			<string>welcome54</string>
			<string>welcome55</string>
			<string>welcome56</string>
			<string>welcome57</string>
			<string>welcome58</string>
			<string>welcome59</string>
			<string>welcome60</string>
			<string>welcome61</string>
			<string>welcome62</string>
			<string>welcome63</string>
			<string>welcome64</string>
			<string>welcome65</string>
			<string>welcome66</string>
			<string>welcome67</string>
			<string>welcome68</string>
			<string>welcome69</string>
			<string>welcome70</string>
			<string>welcome71</string>
			<string>welcome72</string>
			<string>welcome73</string>
			<string>welcome74</string>
			<string>welcome75</string>
			<string>welcome76</string>
			<string>welcome77</string>
			<string>welcome78</string>
			<string>welcome79</string>
			<string>welcome80</string>
			<string>welcome81</string>
			<string>welcome82</string>
			<string>welcome83</string>
			<string>welcome84</string>
		</array>
	</dict>
</dict>
</plist>
