<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Registration</key>
	<dict>
		<key>Intro</key>
		<array>
			<string>Intro</string>
		</array>
		<key>Oferta</key>
		<array>
			<string>Oferta</string>
		</array>
	</dict>
	<key>Welcome</key>
	<dict>
		<key>Any</key>
		<array>
			<string>welcome</string>
			<string>welcome1</string>
		</array>
		<key>79686725343</key>
		<array>
			<string>mum</string>
			<string>mum1</string>
			<string>mum2</string>
			<string>mum3</string>
			<string>mum4</string>
		</array>
		<key>79653250000</key>
		<array>
			<string>nettrash</string>
		</array>
	</dict>
</dict>
</plist>
